a {
  color: inherit;
  text-decoration: none;
}

.app {
  height: 100%;
  width: 100%;
  background-color: var(--dark-navy);
  color: var(--slate);
  position: relative;
}

.outlined-btn {
  color: var(--lightest-slate);
  padding: 8px 20px;
  background-color: transparent;
  border: 1px var(--green) solid;
  border-radius: 4px;
  color: var(--green);
  cursor: pointer;
  font-size: 14px;
  font-family: "Roboto Mono", monospace;
  &:hover {
    background-color: var(--green-tint);
    transition: all ease-in 0.35;
  }
}

.subTitle {
  font-family: "Roboto Mono", monospace;
  color: var(--green);
  font-size: 16px;
}

.big-heading {
  font-size: clamp(40px, 8vw, 80px);
  margin: 0;
}

.container {
  max-width: 1250px;
  margin: 0 auto;
  padding: 6rem 7rem;
  @media (max-width: 768px) {
    padding: 30px 20px;
  }
}

.bar-padding {
  padding-top: 30px;
  @media (max-width: 768px) {
    padding-top: 35px;
  }
}
